body {
    background-color:rgb(225, 217, 209,);
}
h1 {
    margin: 3rem;
    font-size: 400%;
}
#main{
    text-align: center;
}

#gridContainer {
    width: 75%;
}

#searchResultMessage{
    font-weight: normal;
    font-style: italic;
    margin: 2rem;
}

#searchForm {
    align-content: center; 
}

#inputContainer{
    width: 295px;
    height: 38px;
    border-radius: 25px;
    border-top: solid;
    border-bottom: solid;
    border-left: solid;
    border-right: none;
    border-width: thin;
    border-color: gray;
    display: flex;
    align-items: center;
    padding: 13px;
}

#inputContainer > input {
    border: none;
    outline: none;
    padding-left: 10px;
}

#searchButton {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    z-index: 9;
}

@media (max-width:800px){
    h1 {
        font-size: 250%;
    }
}

